body{
    font-family: monospace;
}

.title { 
    display: flex;
    justify-content: center;
}

.button { 
    background-color: black;
    color: white;
    margin: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
    transition-property: background;
}

.button:hover { 
    background:rgb(185, 183, 183);
}

.user__form { 
    background-color: rgb(185, 183, 183);
    margin: 0.25em;
    width: 50%;
}

.form__item { 
    margin: 20px;
}

.section__title { 
    margin: 20px;
}

.container { 
    display: flex;
    justify-content: center;
}

.my-items {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.subtitle { 
    text-align: center;
    font-weight: 800;
}

.list { 
    position: absolute;
    top: 50%;
    left: 50%;
    list-style: none;
    padding: 1rem;
}

.content { 
    display: flex;
    justify-content: center;
    font-size: large;
}

.item {
    color: blue;
    padding: 3px;
}

.other-items {
    display: grid;
    place-items:center;
}

.lists {
    list-style-type: none;
}

.other-subtitle {
    color: red;
}

.items {
    color: green;
}