body{
    font-family: monospace;
    background: linear-gradient(rgb(129, 129, 185), rgb(116, 85, 85));
}

/* ? What are the major background property features?  */

.title { 
    text-align: center;
    margin:10px;
}

.button { 
    background-color: black;
    color: white;
    margin: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
    transition-property: background;
}

.button:hover { 
    background:rgb(185, 183, 183);
}

.user__form { 
    background-color: rgb(185, 183, 183);
    margin: 0.25em;
    width: 50%;
}

.form__item { 
    margin: 20px;
}

.section__title { 
    margin: 20px;
}

.container { 
    display: flex;
    justify-content: center;
}

.my-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle { 
    text-align: center;
    font-weight: 800;
    color:blue;
}

.list { 
    list-style: none;
    padding: 1rem;
}

.content { 
    display: flex;
    justify-content: center;
}

.item {
    color: black;
    padding: 3px;
}

@media (max-width: 600px) { 
    .form__item { 
        width:30vw;
    }
}

/* todo: practice more media queries and go through Bootstrap's code for inspiration */